<div class="card form-display">
    <h5>Easy Tax Calculator</h5>
    <p-divider class="p-div"></p-divider>
    <div class="p-field p-grid">
        <label for="firstname3" class="p-col-fixed" style="width:100px">Gross Salary</label>
        <div class="p-col">
            <input id="firstname3" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Other Income</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">HRA Exemption</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Standard Deduction</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Professional Tax</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Deducation U/S 80C</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">NPS U/S 80CCD(1B)</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Deduction U/S 80D</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>


    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Home Loan Int U/S 24</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:100px">Deduction U/S 80TTA</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText>
        </div>
    </div>
</div>

<div class="card btn-display">

    <div class="btn-grid">
        <!-- <label for="firstname3" class="p-col-fixed" style="width:100px">Gross Salary</label> -->
        <button pButton type="button" label="Reset form" class="p-button-danger danger-btn"></button>
        <button pButton type="button" label="Submit" class="p-button-success success-btn"></button>
        <!-- <div class="p-col danger-btn">
            <button pButton type="button" label="Reset form" class="p-button-danger"></button>
        </div>
        <div class="p-col success-btn">
            <button pButton type="button" label="Submit" class="p-button-success"></button>
        </div> -->
    </div>
    
</div>